/*Products*/

.product-item {
    max-width: 100%;
    float: left;
    margin: 0px 100px 50px;
}

.product-list {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-list img {
    margin-top: 30px;
    margin-left: 20px;
    width: 350px;
}

.product-detail-list {
    margin: 30px;
    font-size: 20px;
    font-family: 'Source Sans Pro Black';
    color: #0A3641; 
}

.product-top {
    font-family: 'Source Sans Pro Black';
    color: #0A3641; 
    font-size: 50px; 
    text-transform: uppercase;
    text-align: inherit;
    margin-top: 50px;
}

.product-price {
    font-family: 'Source Sans Pro Black';
    color: #0A3641; 
    font-size: 30px; 
    text-transform: uppercase;
    margin: 0px;
}

.product-price-cart {
    text-align: initial;
    font-family: 'Source Sans Pro Black';
    color: #0A3641; 
    font-size: 30px; 
    padding-left: 10px;
}

.product-text {
    font-family: 'Source Sans Pro Black';
    color: #0A3641; 
    font-size: 20px; 
    text-transform: none;
    margin: 20px 60px;
}

.products p {
    color: #0A3641;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Source Sans Pro Black';
}

.product-size {
    margin: 30px;
}

/* SIZE */

select {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    padding: 10px 25px;
    background-color: #15748C;
    color: white;
    border: none;
    margin-left: 10px;
}

.select-size button {
    box-shadow: 0px 10px 20px rgb(0 0 0 / 20%);
    font-size: 20px;
    padding: 10px 25px;
    background-color: #8C3723;
    color: white;
    border: none;
    margin: 20px;
    border-radius: 25px;
    cursor: pointer;
}



/* Results */

.results {
    padding: 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #0A3641;
}

.name {
    font-size: 25px;
    font-family: 'Source Sans Pro Regular';
}

.description {
    font-size: 20px;
    font-family: 'Source Sans Pro Regular';
}

.price {
    font-size: 20px;
    font-family: 'Source Sans Pro Black';
}

.add-to-cart {
    background-color: #8C3723;
    color: #ffffff;
    font-family: "Source Sans Pro Black";
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 100px;
    border: none;
    border-radius: 30px;
    margin-bottom: 80px;
    /* margin-left: 45%; */
}