@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf") format("truetype");
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

/* NAVIGATION */

.logo {
    max-width: 200px;
    padding: 20px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav {
    /* border-bottom: 1px solid "EAEAEB"; */
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    text-decoration: none;
    color: #0A3641;
    background-color: #ffffff;
    margin: 0 30px;
    line-height: 70px;
    /* text-transform: uppercase; */
    font-family: 'Source Sans Pro Black';
    font-size: 25px;
    /* padding: 10px; */
}

label {
    margin: 0 0 0 274px;
    font-size: 40px;
    /* line-height: 70px; */
    display: none;
    /* width: 26px; */
    /* float: right; */
    color: #0A3641;
}

#toggle {
    display: none;
}

/* FONT PAGE  */

.head-module {
    background-image: url(../images/headerphotoo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    color: #0A3641;
    padding: 300px;
    margin: 0px;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: #ffffff;
    }

.shop-now .btn {
    background-color: #8C3723;
    color: #ffffff;
    font-family: "Source Sans Pro Black";
    text-transform: uppercase;
    padding: 20px 100px;
    font-size: 26px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.shop-now .btn:hover {
    background-color: #0A3641;
    padding: 22px 105px;
}

.shop-now {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.module-two {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}

section.module-two img {
    max-width: 350px;
    margin: 50px 0px;
    border-radius: 30px;
}



/* justify-content - only on images! */

/* .module-two img {
    max-width: 100%;
    padding: 40px 0px 0px 40px;
    margin-top: 80px;
    width: 350px;
}

.module-two a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Source Sans Pro Black';
    font-size: 30px;
    color: #0A3641; 
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}  */

/* MEDIA QUERIES */
/* SHOULD HAVE THE TOGGLE BAR LATER */

@media only screen and (max-width: 1260px) {
    /* header {
        justify-content: space-between;
    } */
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #ffffff;
        margin: 0;
        padding: 20px 70px;
        position: relative;
    }
    .menu a:hover {
        text-transform: uppercase;
    }
    #toggle:checked + .menu {
        display: block;
    }
}