@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf") format("truetype");
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

/* NAVIGATION */

.logo {
    max-width: 200px;
    padding: 20px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    text-decoration: none;
    color: #0A3641;
    background-color: #ffffff;
    margin: 0 30px;
    line-height: 70px;
    font-family: 'Source Sans Pro Black';
    font-size: 25px;
}

.menu a:hover {
    text-transform: uppercase;
}

label {
    margin: 0 0 0 274px;
    font-size: 40px;
    display: none;
    color: #0A3641;
}

#toggle {
    display: none;
}

/* FRONT PAGE  */

.head-module {
    background-image: url(../images/headerphotoo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    color: #0A3641;
    padding: 300px;
    margin: 0px;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: #ffffff;
    }

.shop-now .btn {
    background-color: #8C3723;
    color: #ffffff;
    font-family: "Source Sans Pro Black";
    text-transform: uppercase;
    padding: 20px;
    font-size: 26px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.shop-now .btn:hover {
    background-color: #0A3641;
}

.shop-now {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.module-two {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section.module-two img {
    max-width: 350px;
    margin: 50px 0px 10px;
    border-radius: 30px;
    box-shadow: 0 20px 34px 0 rgb(11 11 44 / 4%), 0 4px 8px 0 rgb(11 11 44 / 2%), 0 10px 34px 0 rgb(52 52 255 / 5%);
}

section.module-two img:hover {
    transform: scale(1.04);
}

section.module-two a {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Source Sans Pro Black';
    font-size: 30px;
    color: #0A3641;
}

button.btn-small {
    background-color: #8C3723;
    color: #ffffff;
    font-family: "Source Sans Pro Black";
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 40px;
    border: none;
    border-radius: 25px;
    margin: 10px;
}

button.btn-small:hover {
    background-color: #0A3641;
}

.text-frontpage {
    font-family: "Source Sans Pro Black";
    color: #0A3641;
    font-size: 25px;
    text-align: center;
    margin: 100px;
}

section.module-3 {
    display: flex;
    margin: 150px 250px;
}


.text-module-3 {
    margin: 80px;
    text-align: center;
    font-size: 25px;
    padding-left: 30px;
    font-family: 'Source Sans Pro Regular';
    color: #0A3641;
}

/* New Arrival, Men, Woman & Hiking Gear */

.head-module-newarrivals {
    background-image: url(../images/newarrivals.jpg);
}

.head-module-men {
    background-image: url(../images/Mens\ outerwear.jpg);
}

.head-module-woman {
    background-image: url(../images/Womens\ outerwear.jpg);
}

.head-module-hikinggear {
    background-image: url(../images/hikinggear.PNG);
}

.head-module-newarrivals, 
.head-module-men, 
.head-module-woman,
.head-module-hikinggear {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    color: #0A3641;
    padding: 230px;
    margin: 0px;
}
