@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf") format("truetype");
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

/* NAVIGATION */

.logo {
    max-width: 200px;
    padding: 20px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav {
    /* border-bottom: 1px solid "EAEAEB"; */
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    text-decoration: none;
    color: #0A3641;
    background-color: #ffffff;
    margin: 0 30px;
    line-height: 70px;
    /* text-transform: uppercase; */
    font-family: 'Source Sans Pro Black';
    font-size: 25px;
    /* padding: 10px; */
}

label {
    margin: 0 0 0 274px;
    font-size: 40px;
    /* line-height: 70px; */
    display: none;
    /* width: 26px; */
    /* float: right; */
    color: #0A3641;
}

#toggle {
    display: none;
}

/* FONT PAGE  */

.head-module {
    background-image: url(../images/headerphotoo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    color: #0A3641;
    padding: 300px;
    margin: 0px;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: #ffffff;
    }

.shop-now .btn {
    background-color: #8C3723;
    color: #ffffff;
    font-family: "Source Sans Pro Black";
    text-transform: uppercase;
    padding: 20px;
    font-size: 26px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.shop-now .btn:hover {
    background-color: #0A3641;
}

.shop-now {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.module-two {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section.module-two img {
    max-width: 350px;
    margin: 50px 0px 10px;
    border-radius: 30px;
    box-shadow: 0 20px 34px 0 rgb(11 11 44 / 4%), 0 4px 8px 0 rgb(11 11 44 / 2%), 0 10px 34px 0 rgb(52 52 255 / 5%);
}

section.module-two a {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Source Sans Pro Black';
    font-size: 30px;
    color: #0A3641;
}

button.btn-small {
    background-color: #8C3723;
    color: #ffffff;
    font-family: "Source Sans Pro Black";
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 40px;
    border: none;
    border-radius: 25px;
    margin: 10px;
}

button.btn-small:hover {
    background-color: #0A3641;
}

.text-frontpage {
    font-family: "Source Sans Pro Black";
    color: #0A3641;
    font-size: 25px;
    text-align: center;
    margin: 100px;
}

section.module-3 {
    display: flex;
    margin: 150px 250px;
}


.text-module-3 {
    margin: 80px;
    text-align: center;
    font-size: 25px;
    padding-left: 30px;
}

/* New Arrival, Men, Woman & Hiking Gear */

.head-module-newarrivals {
    background-image: url(../images/newarrivals.jpg);
}

.head-module-men {
    background-image: url(../images/Mens\ outerwear.jpg);
}

.head-module-woman {
    background-image: url(../images/Womens\ outerwear.jpg);
}

.head-module-hikinggear {
    background-image: url(../images/hikinggear.PNG);
}

.head-module-newarrivals, 
.head-module-men, 
.head-module-woman,
.head-module-hikinggear {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    color: #0A3641;
    padding: 230px;
    margin: 0px;
}

/*Products*/

.product-detail {
    /* tidligere main display: flex;
    flex-wrap: wrap; */
    margin: 100px 0px;
}

.product-item {
    max-width: 100%;
    float: left;
    margin: 0px 100px 50px;
}

.product-list {
    margin-top: 80px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-list img {
    margin-top: 30px;
    margin-left: 20px;
    width: 350px;
}

.product-detail-list {
    margin: 30px;
    font-size: 20px;
}

.product-top {
    font-family: 'Source Sans Pro Black';
    color: #0A3641; 
    font-size: 50px; 
    text-transform: uppercase;
    text-align: inherit;
    margin-top: 50px;
}

.product-price {
    font-family: 'Source Sans Pro Black';
    color: #0A3641; 
    font-size: 30px; 
    text-transform: uppercase;
    margin: 0px;
}

.product-text {
    font-family: 'Source Sans Pro Black';
    color: #0A3641; 
    font-size: 20px; 
    text-transform: none;
    margin: 20px 60px;
}

.products p {
    color: #0A3641;
    margin-left: 20px;
    font-size: 20px;
}

.product-size {
    margin: 30px;
}

/* SIZE */

select {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    padding: 10px 25px;
    background-color: #15748C;
    color: white;
    border: none;
}

.select-size button {
    box-shadow: 0px 10px 20px rgb(0 0 0 / 20%);
    font-size: 20px;
    padding: 10px 25px;
    background-color: #8C3723;
    color: white;
    border: none;
    margin: 20px;
    border-radius: 25px;
}

/* .btn-cart {
    background-color: #8C3723;
    color: #ffffff;
    font-family: "Source Sans Pro Black";
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px 70px;
    border: none;
    border-radius: 30px;
    margin-bottom: 80px; 
}

.btn-cart:hover {
    background-color: #0A3641;
} */


/* ABOUT US */

.head-module-aboutus {
    background-image: url(../images/AboutUs.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    color: #0A3641;
    padding: 230px;
}

.about-text {
    font-family: 'Source Sans Pro Black';
    color: #0A3641;
    padding: 30px 50px 20px 50px;  
    font-size: 20px;
    text-align: center;
    text-transform: none;
}

img.bottom-img {
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 30px;
}

/* Contact Us from Rainydays */



/* Contact Us from JS */

/* mobile - img.contact-img {
    margin: auto;
} */

label.contact-form {
    display: block;
    font-size: 20px;
    margin: 0 auto;
}

img.contact-img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.contact-h1 {
    color: #0A3641;
}

/* .container {
    max-width: 600px;
    margin: 0 auto;
} */
/* 
form {
    padding: 50px;
    border-radius: 5px;
} */

form#contactForm {
    padding: 50px;
}

input {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0px;
    font-size: 16px;
}

label {
    font-weight: bold;
}

button {
    background-color: #8C3723;
    border: none;
    width: 200px;
    padding: 15px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
}

input#address {
    padding: 30px 10px;
}

input#subject {
    padding: 50px 10px;
}

.error {
    border: 1px solid darkred;
    padding: 10px;
    color: darkred;
    background: rgba(255, 0, 0, 0.1);
    font-size: 15px;
    margin: 20px 50px;
} 

.form-error {
    display: none;
    color: red;
    font-size: 15px;
    margin-top: 2px;
}

.container p {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

/* Footer */

/* footer.contactus {
    bottom: 0px;
    width: 100%;
    background: #0A3641;
} */

footer#footer-item {
    position: absolute;
}

footer {
    bottom: 0px;
    width: 100%;
    background: #0A3641;
    /* position: absolute; */
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    color: white;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
    color: white;
}

.box .content::before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #8C3723;
    top: -10px;
}

.left .content p {
    text-align: justify;
    font-family: 'Source Sans Pro Regular';
    color: white;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #0A3641;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: white;
}

.left .content .social a span:hover {
    background: #8C3723;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: #15748C;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: #8C3723;
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
    color: white;
}

.center .content .phone {
    margin: 10px 0;
}

.right form text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form .msg {
    margin-top: 10px;
}

.right form input, 
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    padding-left: 10px;
    border: 1px solid #222222;
}

.right form input:focus,
.right form textarea:focus {
    outline-color: #3498db;
}

/* .right form input {
    height: 35px;
} */

.right form .btn {
    margin-top: 10px;
}
    
.right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #8C3723;
    color: white;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    border-radius: 20px;
    margin-left: 10px;
}

.right form .btn button:hover {
    background: #15748C;
}




/* MEDIA QUERIES */

@media only screen and (max-width: 1300px) {
section.module-3 {
    display: flex;
    flex-direction: column;
    margin: 0;
    }
}


@media only screen and (max-width: 1260px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #ffffff;
        margin: 0;
        padding: 10px 0px;
        position: relative;
    }
    .menu a:hover {
        text-transform: uppercase;
    }
    #toggle:checked + .menu {
        display: block;
    }
    footer.item {
        position: relative;
    }
}

@media screen and (max-width: 935px) {
    footer {
        bottom: 0px;
    }
    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box {
        margin: 5px 0;
    }
    h1 {
        font-size: 50px;
    }
    .shop-now .btn {
        padding: 10px 0px;
    }
    .head-module {
        padding: 150px;
    }
}
/* 
@media screen and (max-width: 815px) {

} */

@media screen and (max-width: 550px) {
    .logo {
        max-width: 150px;
    }
    label {
        margin: 0 0 0 100px;
    }
    .head-module-men,  
    .head-module-hikinggear {
        background-position: right;
    }
    .head-module-woman {
        background-position: inherit;
    }
    .head-module {
        padding: 100px;
    }
    h1 {
        font-size: 30px;
    }
    .shop-now .btn {
        font-size: 20px;
    }
    section.module-two a {
        font-size: 20px;
    }
    .text-frontpage, 
    .text-module-3 {
        font-size: 15px;
        margin: 50px;
    }
}

@media screen and (max-width: 350px) {
    section.module-two img {
        max-width: 250px;
    } 
    .text-module-3 {
        padding: 0px;
    }
}